@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-feature {
  animation: fadeSlideUp 0.8s ease-in-out forwards;
  opacity: 0;
}
